<section id="download" class="download bg-primary text-center">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 slider">
      <div class="box">
        <div class="col-md-7 col-sm-7">
          <img src="{{ '1.jpg' | asset_url }}" alt="{{ shop.name }}" class="img-responsive">
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="caption-first">
            <h3>{{section.settings.first_snippet_title}}</h3>
            <p>Experience menu choices that reveal the character of Philippines, region by region, prepared with only the freshest ingredients by our highly skilled culinary team.</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="col-md-5 col-sm-5">
          <div class="caption-first">
            <h3>{{section.settings.second_snippet_title}}</h3>
            <p>It’s not just about first rate cuisine and an award winning wine list. Our highly trained and exceedingly personable staff are there to help you navigate our selections and ensure a memorable dining experience.</p>
          </div>
        </div>
        <div class="col-md-7 col-sm-7">
          <img src='{{section.settings.image | img_url}}' alt="{{ shop.name }}" class="img-responsive second-food">
        </div>
      </div>
    </div>

  </div>
</section>

{% schema %}
{
	"name": "Featured Snippet",
	"settings": [
    {
  		"type": "text",
  		"id": "first_snippet_title",
  		"label": "First row title",
      "default": "Modern Filipino Style"
	  },
    {
  		"type": "text",
  		"id": "second_snippet_title",
  		"label": "Second row title",
      "default": "Great Service!"
	  },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
