<section class="cta" id="specialties">
  <div class="parallax-layer parallax-layer-base">
    <div class="cta-content ">
      <div class="container text-center">
        <h2>Our Menus</h2>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
</section>
<section id="ourmenu" class="ourmenu bg-primary">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 board">
      <!-- <h3 class="text-center">-Our Menu-</h3> -->
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem ipsum has been the ipsum has been the ipsum has been the</p>
      <div class="owl-carousel owl-theme">

        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">

          <img src="{{ 'steak.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Steak</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-1.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-1.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
      </div>
      {%- assign collection = collections['main-menu'].products -%}

      {% case 3 %}
        {% when '2' %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
          {%- assign image_size = '530x530' -%}
        {% when '3' %}
          {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
          {%- assign image_size = '345x345' -%}
        {% when '4' %}
          {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
          {%- assign image_size = '250x250' -%}
        {% when '5' %}
          {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
          {%- assign image_size = '195x195' -%}
      {% endcase %}

      {%- assign product_limit = 3 -%}

      <div class="grid grid--uniform grid--view-items">
        {% for product in collections['main-menu'].products limit: product_limit %}
          <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            {% include 'product-card-grid', grid_image_width: image_size %}
          </div>
        {% else %}

          {% for i in (1..product_limit) %}
            <div class="grid__item .grid__item--{{section.id}} {{ grid_item_width }}">
              <div class="grid-view-item">
                <a href="#" class="grid-view-item__link">
                  <div class="grid-view-item__image">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                  <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                  <div class="grid-view-item__meta">
                    {% include 'product-price' %}
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>

      <a id="find-button" href="#about" class="btn btn-outline btn-xl page-scroll sr-button">View Full Menu</a>


    </div>

  </div>
</section>
