<section class="cta" id="specialties">
  <div class="parallax-layer parallax-layer-base">
    <div class="cta-content ">
      <div class="container text-center">
        <h2>Our Menus</h2>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
</section>
<section id="ourmenu" class="ourmenu bg-primary">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 board">
      <!-- <h3 class="text-center">-Our Menu-</h3> -->
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem ipsum has been the ipsum has been the ipsum has been the</p>
        <div class="grid grid--uniform">
          {% for collection in collections %}
            <div class="grid__item small--one-half medium-up--one-third">
              {% include 'collection-grid-item' %}
            </div>
          {% endfor %}
        </div>

<div class="owl-carousel owl-theme">
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">

          <img src="{{ 'steak.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Steak</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-1.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-3.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
        <div class="item">
          <img src="{{ 'food-1.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block">
          <h4>Chicken Wings</h4>
          <span class="price">P150.00</span>
          <hr>
        </div>
      </div>

      <a id="find-button" href="#about" class="btn btn-outline btn-xl page-scroll sr-button">View Full Menu</a>
    </div>

  </div>
</section>
