<header class="inner-pages">
  <div class="header-overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-content">
            <div class="header-content-inner">
              <!-- <h1>New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!</h1> -->
              <!-- <a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a> -->
              <h1>Menu</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="inner-page-section">
  <div class="container">
    <div class="col-md-5">
      <img src="{{ 'wings.jpg' | asset_url }}" alt="{{ shop.name }}">
    </div>
    <div class="col-md-7">
      <div class="inner-box">
        <h2>Our Main</h2>
        {% if collections['main-menu'].products.size > 0 %}
        {% for product in collections['main-menu'].products %}
          <a class="shop-now" href="{{ product.url }}"><p>{{ product.title | escape  }} - - - <span>{{ product.price }}</span></p></a>
        {% endfor %}

        {% endif %}
      </div>
    </div>

  </div>
</section>

<section class="inner-page-section">
  <div class="container">

    <div class="col-md-7">
      <div class="inner-box">
        <h2>Sides</h2>
        <p>FRENCH FRIES - - - <span>P30.00</span></p>
        <p>RICE - - - <span>P15.00</span></p>
        <p>CEASARS SALAD (PORK, BEEF & CHICKEN) - - - <span>P150.00</span></p>
      </div>
    </div>
    <div class="col-md-5">
      <img src="{{ 'fries.jpeg' | asset_url }}" alt="{{ shop.name }}" style="float:right;">
    </div>

  </div>
</section>

<div class="page-width">
  <div class="grid grid--uniform">
    {% for collection in collections %}
      <div class="grid__item small--one-half medium-up--one-third">
        {% include 'collection-grid-item' %}
      </div>
    {% endfor %}
  </div>
</div>
